.timesheet-table {
	margin-top: 60px;

	.table-heading {
		display: grid;
		background-color: #fff;
		grid-template-columns: 50px 300px 100px 200px 200px;
		grid-gap: 1.5rem;
		text-align: center;
		padding: 18px 55px;
		margin-bottom: 26px;

		.number-col {
			text-align: left;
		}
	}
}

@media screen and (max-width: 1450px) {
	.timesheet-table {
		.table-heading {
			grid-template-columns: 50px 250px 80px 150px 150px;
			grid-gap: 1.2rem;
		}
	}
}

@media screen and (max-width: 1245px) {
	.timesheet-table {
		.table-heading {
			grid-template-columns: 50px 200px 50px 100px 120px;
			grid-gap: 1rem;
		}
	}
}

/* ** make a responsive page for 945px width which would decrease the size for each table element */
