.heading {
    h3 {
        color: #0f4c75;
    }
}

.add-emp-btn {
    margin-top: 40px;
    @media (max-width: 900px) {
        display: flex;
        justify-content: center;
    }
}

.employee-table {
    margin-top: 60px;

    .table-heading {
        background-color: #fff;
        display: grid;
        grid-template-columns: 50px 300px;
        grid-gap: 15rem;
        text-align: center;
        width: 100%;
        // max-width: 1171px;
        padding: 18px 55px;
        margin-bottom: 26px;
    }
}

@media screen and (max-width: 1250px) {
    .employee-table {
        margin-top: 60px;

        .table-heading {
            grid-template-columns: 50px 300px;
            grid-gap: 3rem;
        }
    }
}
@media (max-width: 520px) {
    .employee-table {
        .table-heading {
            padding: 10px 0;
            grid-template-columns: 50px 150px;
        }
    }
}
