.heading {
	h3 {
		color: #0f4c75;
	}
}

.add-emp-btn {
	margin-top: 40px;
}

.employee-table {
	margin-top: 60px;

	.table-heading {
		display: flex;
		background-color: #fff;
		width: 100%;
		padding: 18px 55px;
	}
}
