.heading {
	h3 {
		color: #0f4c75;
	}
}

.add-emp-btn {
	margin-top: 40px;
}

.employee-table {
	margin-top: 60px;

	.table-heading {
		display: flex;
		background-color: #fff;
		width: 100%;
		max-width: 1171px;
		padding: 18px 55px;
		margin-bottom: 26px;

		.employee-name-col {
			margin-left: 424px;
			text-align: center;
		}
	}
}
