.tools-section {
    margin-top: 40px;

    h3 {
        color: #0f4c75;
    }

    .buttons {
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
        grid-template-rows: max-content;
        grid-gap: 10px;

        a {
            color: #1b262c;
            text-decoration: none;
        }

        @media (max-width: 900px) {
            grid-template-columns: repeat(auto-fit, minmax(200px, 100%));
        }
    }
}

.projects-section {
    margin-top: 60px;

    .title {
        color: #0f4c75;
        margin-bottom: 6px;
    }

    .projects {
        // display: flex;
        // flex-wrap: wrap;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
        margin: 0 auto 20px auto;
        grid-gap: 10px;

        h4 {
            color: #0f4c75;
        }

        a {
            text-decoration: none;
            color: #000;

            .num-of-employees {
                padding: 11px 0 5px 0;
            }
        }
    }
}
