.tools-section {
	margin-top: 40px;

	h3 {
		color: #0f4c75;
	}

	.buttons {
		margin-top: 15px;
		display: flex;

		a {
			color: #1b262c;
			text-decoration: none;
		}
	}
}

.projects-section {
	margin-top: 60px;

	h3 {
		color: #0f4c75;
	}
}
