.heading {
	h3 {
		color: #0f4c75;
	}
}

.add-project-btn {
	margin-top: 40px;
}

.project-table {
	margin-top: 60px;

	.table-heading {
		display: flex;
		background-color: #fff;
		width: 100%;
		// max-width: 1171px;
		padding: 18px 55px;
		margin-bottom: 26px;

		.project-name-col {
			margin-left: 82px;
			text-align: center;
		}

		.description-col,
		.address-col {
			margin-left: 210px;
		}
	}
}
